* {
    font-family: 'Roboto', sans-serif;
}

table {
    margin: 0 auto;
    padding-bottom: 10px;
}

input, select {
    height: 25px;
    margin: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=number] {
    width: auto;
}

.centrado {
    padding: 10px;
    margin: auto;
    width: 50%;
    text-align: center;
}